---
import Solutions from "./sections/Solutions.astro";
import NavBar from "./sections/NavBar.astro";
import Partners from "./sections/Partners.astro";
import Price from "./sections/Price.astro";
import Questions from "./sections/Questions.astro";
import DemoSchedule from "./sections/DemoSchedule.astro";
import Contacts from "./sections/Contacts.astro";
import Home from "./sections/Home.astro";
import ProductAssistant from "./sections/ProductAssistant.astro";
---

<NavBar />
<main>
    <Home />
    <Partners />
    <Solutions />
    <Price />
    <Questions />
    <ProductAssistant />
    <Contacts />
    <DemoSchedule />
</main>