---
import Logowisec from "@assets/icons/Logowisec.astro"
---
<nav class="flex flex-col md:flex-row" id="navbar">
    <div class="flex items-center gap-2 text-white text-center pl-2">
        <Logowisec height="50" color="#80e704"/>
        <span class="text-4xl">WisecAi</span>
    </div>
    <ul
        class="flex flex-col md:flex-row text-2xl justify-between rounded-xl overflow-hidden"
    >
        <li class="flex justify-center flex-grow">
            <a
                href="#solutions"
                class="flex items-center bg-teal-700 text-white text-center px-10 hover:bg-teal-500 hover:shadow-md transition h-full w-full"
                >Soluciones</a
            >
        </li>
        <li class="flex justify-center flex-grow">
            <a
                href="#partners"
                class="flex items-center bg-teal-700 text-white text-center px-10 hover:bg-teal-500 hover:shadow-md transition h-full w-full"
                >Socios</a
            >
        </li>
        <li class="flex justify-center flex-grow">
            <a
                href="#dreamTeam"
                class="flex items-center bg-teal-700 text-white text-center px-10 hover:bg-teal-500 hover:shadow-md transition h-full w-full"
                >DreamTeam</a
            >
        </li>
        <li class="flex justify-center flex-grow">
            <a
                href="#contacts"
                class="flex items-center bg-teal-700 text-white text-center px-10 hover:bg-teal-500 hover:shadow-md transition h-full w-full"
                >Precio</a
            >
        </li>
        <li class="flex justify-center flex-grow">
            <a
                href="#questions"
                class="flex items-center bg-teal-700 text-white text-center px-10 hover:bg-teal-500 hover:shadow-md transition h-full w-full"
                >Preguntas<br />Frecuentes</a
            >
        </li>
    </ul>

    <ul class="flex gap-8">
        <li class="cursor-pointer">
            <!--?xml version="1.0" ?-->
                <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Icons"
                width="40px"
                viewBox="0 0 32 32"
                style="enable-background:new 0 0 32 32;"
                xml:space="preserve"
                ><style type="text/css">
                    .st0 {
                        fill: #ffffff;
                    }
                    .st1 {
                        fill: #3a559f;
                    }
                    .st2 {
                        fill: #f4f4f4;
                    }
                    .st3 {
                        fill: #ff0084;
                    }
                    .st4 {
                        fill: #0063db;
                    }
                    .st5 {
                        fill: #00aced;
                    }
                    .st6 {
                        fill: #ffec06;
                    }
                    .st7 {
                        fill: #ff0000;
                    }
                    .st8 {
                        fill: #25d366;
                    }
                    .st9 {
                        fill: #0088ff;
                    }
                    .st10 {
                        fill: #314358;
                    }
                    .st11 {
                        fill: #ee6996;
                    }
                    .st12 {
                        fill: #01aef3;
                    }
                    .st13 {
                        fill: #fffeff;
                    }
                    .st14 {
                        fill: #f06a35;
                    }
                    .st15 {
                        fill: #00adef;
                    }
                    .st16 {
                        fill: #1769ff;
                    }
                    .st17 {
                        fill: #1ab7ea;
                    }
                    .st18 {
                        fill: #6001d1;
                    }
                    .st19 {
                        fill: #e41214;
                    }
                    .st20 {
                        fill: #05ce78;
                    }
                    .st21 {
                        fill: #7b519c;
                    }
                    .st22 {
                        fill: #ff4500;
                    }
                    .st23 {
                        fill: #00f076;
                    }
                    .st24 {
                        fill: #ffc900;
                    }
                    .st25 {
                        fill: #00d6ff;
                    }
                    .st26 {
                        fill: #ff3a44;
                    }
                    .st27 {
                        fill: #ff6a36;
                    }
                    .st28 {
                        fill: #0061fe;
                    }
                    .st29 {
                        fill: #f7981c;
                    }
                    .st30 {
                        fill: #ee1b22;
                    }
                    .st31 {
                        fill: #ef3561;
                    }
                    .st32 {
                        fill: none;
                        stroke: #ffffff;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                    }
                    .st33 {
                        fill: #0097d3;
                    }
                    .st34 {
                        fill: #01308a;
                    }
                    .st35 {
                        fill: #019cde;
                    }
                    .st36 {
                        fill: #ffd049;
                    }
                    .st37 {
                        fill: #16a05d;
                    }
                    .st38 {
                        fill: #4486f4;
                    }
                    .st39 {
                        fill: none;
                    }
                    .st40 {
                        fill: #34a853;
                    }
                    .st41 {
                        fill: #4285f4;
                    }
                    .st42 {
                        fill: #fbbc05;
                    }
                    .st43 {
                        fill: #ea4335;
                    }
                </style><path
                    class="st8"
                    d="M17,0C8.7,0,2,6.7,2,15c0,3.4,1.1,6.6,3.2,9.2l-2.1,6.4c-0.1,0.4,0,0.8,0.3,1.1C3.5,31.9,3.8,32,4,32  c0.1,0,0.3,0,0.4-0.1l6.9-3.1C13.1,29.6,15,30,17,30c8.3,0,15-6.7,15-15S25.3,0,17,0z"
                ></path><path
                    class="st0"
                    d="M25.7,20.5c-0.4,1.2-1.9,2.2-3.2,2.4C22.2,23,21.9,23,21.5,23c-0.8,0-2-0.2-4.1-1.1c-2.4-1-4.8-3.1-6.7-5.8  L10.7,16C10.1,15.1,9,13.4,9,11.6c0-2.2,1.1-3.3,1.5-3.8c0.5-0.5,1.2-0.8,2-0.8c0.2,0,0.3,0,0.5,0c0.7,0,1.2,0.2,1.7,1.2l0.4,0.8  c0.3,0.8,0.7,1.7,0.8,1.8c0.3,0.6,0.3,1.1,0,1.6c-0.1,0.3-0.3,0.5-0.5,0.7c-0.1,0.2-0.2,0.3-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.2  c0.3,0.5,0.9,1.4,1.7,2.1c1.2,1.1,2.1,1.4,2.6,1.6l0,0c0.2-0.2,0.4-0.6,0.7-0.9l0.1-0.2c0.5-0.7,1.3-0.9,2.1-0.6  c0.4,0.2,2.6,1.2,2.6,1.2l0.2,0.1c0.3,0.2,0.7,0.3,0.9,0.7C26.2,18.5,25.9,19.8,25.7,20.5z"
                ></path></svg
            >
        </li>
        <li class="cursor-pointer">
            <!--?xml version="1.0" ?-->
            <a href="https://www.instagram.com/wisecai" target="_blank">
            <svg
                id="Apple"
                width="40px"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                ><defs
                    ><style>
                        .cls-1 {
                            fill: url(#Nepojmenovaný_přechod_27);
                        }
                        .cls-2 {
                            fill: #fff;
                        }
                    </style><linearGradient
                        gradientUnits="userSpaceOnUse"
                        id="Nepojmenovaný_přechod_27"
                        x1="328.27"
                        x2="183.73"
                        y1="508.05"
                        y2="3.95"
                        ><stop offset="0" stop-color="#ffdb73"></stop><stop
                            offset="0.08"
                            stop-color="#fdad4e"></stop><stop
                            offset="0.15"
                            stop-color="#fb832e"></stop><stop
                            offset="0.19"
                            stop-color="#fa7321"></stop><stop
                            offset="0.23"
                            stop-color="#f6692f"></stop><stop
                            offset="0.37"
                            stop-color="#e84a5a"></stop><stop
                            offset="0.48"
                            stop-color="#e03675"></stop><stop
                            offset="0.55"
                            stop-color="#dd2f7f"></stop><stop
                            offset="0.68"
                            stop-color="#b43d97"></stop><stop
                            offset="0.97"
                            stop-color="#4d60d4"></stop><stop
                            offset="1"
                            stop-color="#4264db"></stop></linearGradient
                    ></defs
                ><title></title><rect
                    class="cls-1"
                    height="465.06"
                    rx="107.23"
                    ry="107.23"
                    width="465.06"
                    x="23.47"
                    y="23.47"></rect><path
                    class="cls-2"
                    d="M331,115.22a66.92,66.92,0,0,1,66.65,66.65V330.13A66.92,66.92,0,0,1,331,396.78H181a66.92,66.92,0,0,1-66.65-66.65V181.87A66.92,66.92,0,0,1,181,115.22H331m0-31H181c-53.71,0-97.66,44-97.66,97.66V330.13c0,53.71,44,97.66,97.66,97.66H331c53.71,0,97.66-44,97.66-97.66V181.87c0-53.71-43.95-97.66-97.66-97.66Z"
                ></path><path
                    class="cls-2"
                    d="M256,198.13A57.87,57.87,0,1,1,198.13,256,57.94,57.94,0,0,1,256,198.13m0-31A88.87,88.87,0,1,0,344.87,256,88.87,88.87,0,0,0,256,167.13Z"
                ></path><circle class="cls-2" cx="346.81" cy="163.23" r="21.07"
                ></circle></svg
            >
            </a>
        </li>
        <li class="cursor-pointer">
            <a href="https://www.linkedin.com/company/wisecai/" target="_blank">
            <svg
                height="100%"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
                version="1.1"
                viewBox="0 0 512 512"
                width="40px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                ><g id="g5891"
                    ><path
                        d="M512,64c0,-35.323 -28.677,-64 -64,-64l-384,0c-35.323,0 -64,28.677 -64,64l0,384c0,35.323 28.677,64 64,64l384,0c35.323,0 64,-28.677 64,-64l0,-384Z"
                        id="background"
                        style="fill:#2867b2;"></path><g id="shapes"
                        ><rect
                            height="257.962"
                            id="rect11"
                            style="fill:#fff;"
                            width="85.76"
                            x="61.053"
                            y="178.667"></rect><path
                            d="M104.512,54.28c-29.341,0 -48.512,19.29 -48.512,44.573c0,24.752 18.588,44.574 47.377,44.574l0.554,0c29.903,0 48.516,-19.822 48.516,-44.574c-0.555,-25.283 -18.611,-44.573 -47.935,-44.573Z"
                            id="path13-0"
                            style="fill:#fff;fill-rule:nonzero;"></path><path
                            d="M357.278,172.601c-45.49,0 -65.866,25.017 -77.276,42.589l0,-36.523l-85.738,0c1.137,24.197 0,257.961 0,257.961l85.737,0l0,-144.064c0,-7.711 0.554,-15.42 2.827,-20.931c6.188,-15.4 20.305,-31.352 43.993,-31.352c31.012,0 43.436,23.664 43.436,58.327l0,138.02l85.741,0l0,-147.93c0,-79.237 -42.305,-116.097 -98.72,-116.097Z"
                            id="path15"
                            style="fill:#fff;fill-rule:nonzero;"></path></g
                    ></g
                ></svg
            >
        </a>
        </li>
    </ul>
</nav>
