---

import Layout from "@layouts/Layout.astro";
import Maintance from "@components/mantenimiento.astro";
import Principal from "@components/principal.astro";

---

<!-- <Layout title="">
  <div class="h-screen">
    <Maintance />
  </div>
</Layout> -->

<Layout title="">
  <Principal />
</Layout>

