---
import Button from "./ui/button.astro";
---

<!-- To make this contact form work, create your free access key from https://web3forms.com/
     Then you will get all form submissions in your email inbox. -->
<form
  action="https://adswelldone.us14.list-manage.com/subscribe/post?u=a44abe781846b0e85fb9e9af4&amp;id=896d936797&amp;f_id=001585e0f0"
  method="POST"
  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
  class="needs-validation"
  novalidate>
  <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" />
  <!-- Create your free access key from https://web3forms.com/ -->
  <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
  <div class="mb-5">
    <input
      type="text"
      placeholder="Nombre completo"
      id="mce-FNAME" 
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="FNAME"
    />
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Por favor proporcione su nombre completo.
    </div>
  </div>
  <div class="mb-5">
    <label for="email_address" class="sr-only">Correo electrónico</label><input
      id="mce-EMAIL" 
      type="email"
      placeholder="Correo electrónico"
      name="EMAIL"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback text-red-400 text-sm mt-1">
      Por favor proporcione su dirección de correo electrónico.
    </div>
    <div class="invalid-feedback text-red-400 text-sm mt-1">
      Por favor ingrese su dirección de correo electrónico válida.
    </div>
  </div>
  <div class="mb-3">
    <textarea
      id="mce-MMERGE6"
      name="MMERGE6"
      required
      placeholder="Mensaje"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Por favor ingrese su mensaje.
    </div>
  </div>
  <Button id="mc-embedded-subscribe" type="submit" size="lg" name="subscribe" block>Enviar mensaje</Button>
  <div id="result" class="mt-3 text-center">
    <div class="response" id="mce-error-response" style="display: none;"></div>
    <div class="response" id="mce-success-response" style="display: none;"></div>
  </div>
</form>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script
      type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[6] = 'MMERGE6'; ftypes[6] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>


<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Enviando...";

    // fetch("https://adswelldone.us14.list-manage.com/subscribe/post?u=a44abe781846b0e85fb9e9af4&amp;id=896d936797&amp;f_id=001585e0f0", {
    //   method: "POST",
    //   headers: {
    //     "Content-Type": "application/json",
    //     Accept: "application/json",
    //   },
    //   body: json,
    // })
    //   .then(async (response) => {
    //     let json = await response.json();
    //     if (response.status == 200) {
    //       result.classList.add("text-green-500");
    //       result.innerHTML = json.message;
    //     } else {
    //       console.log(response);
    //       result.classList.add("text-red-500");
    //       result.innerHTML = json.message;
    //     }
    //   })
    //   .catch((error) => {
    //     console.log(error);
    //     result.innerHTML = "¡Algo salió mal!";
    //   })
    //   .then(function () {
    //     form.reset();
    //     form.classList.remove("was-validated");
    //     setTimeout(() => {
    //       result.style.display = "none";
    //     }, 5000);
    //   });
  });
</script>
