<div class="bg-constructor p-5 lg:p-8 border rounded-3xl sm:w-4/5 md:w-4/5 m-auto flex items-center justify-between flex-col lg:flex-row" id="section-form">
  <h3 class="text-center text-lg lg:text-xl font-semibold text-gray-800 dark:text-white mb-4 lg:mb-0 lg:text-left px-4 lg:px-0 leading-tight">
    Comienza aquí para brindarte mas información
  </h3>
  <div
    class="relative z-10 dark:text-white w-full lg:w-3/5">
    <form
      action="https://wisecai.us11.list-manage.com/subscribe/post?u=a947bf997eeb7569bca8b53c6&id=c69d5cc754&f_id=0012ade0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      :class="intersect ? 'animate-shake animate-delay-[5000ms] animate-ease-out':'opacity-0'">
      <div
        id="mc_embed_signup_scroll"
        class="relative flex items-center rounded-full border border-primary/20 bg-white p-1 px-2 shadow-md focus-within:ring-2 focus-within:ring-primary dark:border-white/10 dark:bg-dark dark:text-white md:p-2 lg:pr-3">
        <div class="py-3 pl-4 lg:pl-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="m-auto h-6 w-6 fill-gray-500 dark:fill-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
        </div>

        <input
          id="mce-EMAIL"
          name="EMAIL"
          aria-label="your email"
          autocomplete="email"
          placeholder="Correo electrónico"
          class="required email w-full rounded-full border-none bg-transparent pl-4 placeholder-gray-600 outline-none focus:ring-0 dark:placeholder-white"
          type="email"
          required
        />
        <div class="md:pr-1.5 lg:pr-0">
          <button
            name="subscribe"
            id="mc-embedded-subscribe"
            type="submit"
            title="Register"
            class="relative ml-auto h-12 w-16 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 active:duration-75 active:before:scale-95 sm:w-auto sm:px-6">
            <span class="relative hidden w-max font-medium text-white md:block">
              Registrarme
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="relative mx-auto h-6 w-6 text-white dark:text-gray-900 md:hidden">
              <path
                d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="hidden">
        <ul>
          <li>
            <input
              type="radio"
              name="MMERGE6"
              id="mce-MMERGE60"
              value="Constructor"
              checked
            /><label for="mce-MMERGE60">Constructor</label>
          </li>
          <li>
            <input
              type="radio"
              name="MMERGE6"
              id="mce-MMERGE61"
              value="Proveedor"
            /><label for="mce-MMERGE61">Proveedor</label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear foot">
        <div
          class="response mt-2 px-4 py-3 text-md"
          id="mce-error-response"
          style="display: none;">
        </div>
        <div
          role="alert"
          class="response mt-2 px-4 py-3 text-md"
          id="mce-success-response"
          style="display: none;">
        </div>
      </div>
    </form>
  </div>
</div>
