<div class="sm:w-4/5 md:w-4/5 m-auto flex lg:gap-10 items-center justify-between flex-col lg:flex-row">
  <div class="text-left">
    <h3 class="text-center text-2xl lg:text-3xl font-semibold mb-3 lg:text-left leading-tight tracking-tight max-w-80 ml-0">
      Agenda tu demo y comienza a incrementar tus ventas
    </h3>
    <p class="text-center lg:text-left mb-5 leading-110">Te enviaremos un correo con los accesos</p>
  </div>
  <div
    class="relative z-10 w-full lg:w-6/12">
    <form
      action="https://wisecai.us11.list-manage.com/subscribe/post?u=a947bf997eeb7569bca8b53c6&id=c69d5cc754&f_id=0012ade0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      :class="intersect ? 'animate-shake animate-delay-[5000ms] animate-ease-out':'opacity-0'">
      <div
        id="mc_embed_signup_scroll"
        class="relative flex items-center rounded-md border border-primary/20 bg-white p-1 focus-within:ring-1 focus-within:ring-primary lg:pr-1.5">
        <div class="py-3 pl-4 lg:pl-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="m-auto h-6 w-6 fill-gray-500"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
        </div>

        <input
          id="mce-EMAIL"
          name="EMAIL"
          aria-label="your email"
          autocomplete="email"
          placeholder="Correo electrónico"
          class="required email w-full rounded-full border-none bg-transparent pl-4 placeholder-gray-600 outline-none focus:ring-0 text-sm"
          type="email"
          required
        />
        <div class="md:pr-1.5 lg:pr-0">
          <button
            name="subscribe"
            id="mc-embedded-subscribe"
            type="submit"
            title="Register"
            class="relative ml-auto before:absolute before:inset-0 before:rounded-md before:bg-secondary before:transition before:duration-300 active:duration-75 active:before:scale-95 sm:w-auto sm:px-6 px-3 py-2.5 tracking-tight font-medium">
            <span class="relative hidden w-max md:block text-sm">
              Registrarme
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="relative mx-auto h-6 w-6 text-white md:hidden">
              <path
                d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="hidden">
        <ul>
          <li>
            <input
              type="radio"
              name="MMERGE6"
              id="mce-MMERGE60"
              value="Constructor"
              checked
            /><label for="mce-MMERGE60">Constructor</label>
          </li>
          <li>
            <input
              type="radio"
              name="MMERGE6"
              id="mce-MMERGE61"
              value="Proveedor"
            /><label for="mce-MMERGE61">Proveedor</label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear foot">
        <div
          class="response mt-2 px-4 py-3 text-md"
          id="mce-error-response"
          style="display: none;">
        </div>
        <div
          role="alert"
          class="response mt-2 px-4 py-3 text-md"
          id="mce-success-response"
          style="display: none;">
        </div>
      </div>
    </form>
  </div>
</div>
