---
// @ts-ignore
import { Picture } from "@astrojs/image/components";
import ecosistemaMap from "assets/wisec_ecosistema_web.png";
import heroImage from "assets/infografia2.svg";
import logoWisec from "assets/logo-wisec.svg";

---

<div class="gap-16">
    <div class="flex gap-4 items-center flex-col">
      <div class="mt-1 p-3">
        <a href="/" class="text-xl lg:text-5xl inline-flex">
            <Picture
              src={logoWisec}
              alt="Logo Wisec"
              widths={[30, 30, 50]}
              aspectRatio="1:1"
              sizes="(max-width: 1024px) 30px, 50px"
              loading="eager"
              format="svg"
            />
            <span class="font-bold text-slate-800 self-end ml-1">Wisec<span class="font-bold text-secondary">.ai</span></span>
          </a>
      </div>
    </div>
  </div>
  <div class="gap-16">
    <div class="flex gap-4 items-center flex-col">
      <div class="mt-1 p-3">
        <Picture
          src={heroImage}
          alt="Inteligencia Artificial"
          widths={[200, 400, 1200]}
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="svg"
        />
      </div>
    </div>
  </div>
  <div class="mt-16 md:mt-0 p-5 lg:p-20 max-w-screen-md m-auto">
    <h2
      class="text-3xl lg:text-5xl font-bold lg:tracking-tight text-center text-primary pb-5">
      Estamos en mantenimiento
    </h2>
    <p class="text-md lg:text-lg mt-4 text-primary text-center">
      Estamos renovándonos en estos momentos. Visítenos en los próximos días para enterarse de las novedades que tenemos.
    </p>
  </div>

  <footer class="my-20">
    <p class="text-center text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Wisec. Todos los derechos reservados.
    </p>
    <!--
      Can we ask you a favor 🙏
      Please keep this backlink on your website if possible.
      or Purchase a commercial license from https://web3templates.com
    -->
    <p class="text-center text-xs text-slate-500 mt-1">
      Desarrollado por <a
        href="#"
        target="_blank"
        rel="noopener"
        class="hover:underline">
        KG
      </a>
    </p>
  </footer>

  
