---
// @ts-ignore
import { Picture } from "@astrojs/image/components";
import ecosistemaMap from "assets/wisec_ecosistema_web.png";
import heroImage from "assets/infografia2.svg";
import logoWisec from "assets/logo-wisec.svg";

---

<div class="gap-16">
    <div class="flex gap-4 items-center flex-col">
      <div class="mt-1 p-3">
        <a href="/" class="text-xl lg:text-5xl inline-flex">
            <Picture
              src={logoWisec}
              alt="Logo Wisec"
              widths={[30, 30, 50]}
              aspectRatio="1:1"
              sizes="(max-width: 1024px) 30px, 50px"
              loading="eager"
              format="svg"
            />
            <span class="font-bold text-slate-800 self-end ml-1">Wisec<span class="font-bold text-secondary">.ai</span></span>
          </a>
      </div>
    </div>
  </div>
  <div class="gap-16">
    <div class="flex gap-4 items-center flex-col">
      <div class="mt-1 p-3">
        <Picture
          src={heroImage}
          alt="Inteligencia Artificial"
          widths={[200, 400, 1200]}
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="svg"
        />
      </div>
    </div>
  </div>
  <div class="mt-16 md:mt-0 p-5 lg:p-20 max-w-screen-lg m-auto">
    <h3
        class="text-center text-primary text-3xl lg:text-3xl xl:text-4xl my-1 lg:my-5 animate-fade-down animate-delay-[200ms] animate-duration-1000">
      <span class="font-light">¡Somos el ChatGPT </span><span class="font-bold"> Inmobiliario y de Construcción</span><span class="font-light">. Estamos construyendo una nueva experiencia para ti! </span>
    </h3>
    <!-- <h2
      class="text-3xl lg:text-5xl font-bold lg:tracking-tight text-center text-primary pb-5">
      Estamos en mantenimiento
    </h2>-->
    <p class="text-md lg:text-lg mt-4 text-primary text-center">
      Estamos renovándonos en estos momentos. Visítenos en los próximos días para enterarse de las novedades que tenemos.
    </p>
  </div>

  
