---
// @ts-ignore
import { Picture } from "@astrojs/image/components";
import wichatLogo from "assets/Wichat_logo.png";
import witrackLogo from "assets/Witrack_logo.png";
import veriwiLogo from "assets/VeriWi_logo.png";

const apps = [
  {
    title: "Wichat",
    description:
      "Resuelve tus consultas en base a tu información en cuestión de segundos. Desde documentos, imágenes hasta planos, lo procesamos todo",
    image: wichatLogo,
    alt: "",
  },
  {
    title: "Witrack",
    description:
      "Haz un seguimiento de tus entregables, resuelve las observaciones de tus clientes eficientemente y monitorea el avance de tus proyectos",
    image: witrackLogo,
    alt: "",
  },
  {
    title: "VeriWi",
    description:
      "Verifica el avance de obra sin salir de tu oficina mediante fotos en cuestión de segundos y mantén tu registro actualizado",
    image: veriwiLogo,
    alt: "",
  },
];


---

  <div class="mt-16 md:mt-0">
    <h2
      class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-primary">
      ¿Cómo lo hacemos?
    </h2>
    <p class="text-lg mt-4 text-primary">
      Mediante diversos features integrados a nuestro software
    </p>
  </div>

  <div class="grid sm:grid-cols-3 md:grid-cols-3 mt-10 gap-16">
    {
      apps.map((item) => (
        <div class="flex gap-4 items-center shadow-lg shadow-indigo-500/40 flex-col rounded-md border border-[#D8DEE9] py-10 px-12">
          <div class="mt-1 bg-primary rounded-full p-3 w-20 h-20 shrink-0">
            <Picture
              src={item.image}
              alt={item.alt}
              widths={[100, 120]}
              aspectRatio="1:1"
              fit="contain"
              background="rgba(0,0,0,0)"
              position="center"
              format="svg"
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
            />
          </div>
          <div>
            <h3 class="font-bold text-2xl text-center">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed text-center">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
