---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import solucionWisec01 from "assets/soluciones/wisec-solution-01.png";
import solucionWisec02 from "assets/soluciones/wisec-solution-02.png";
import solucionWisec03 from "assets/soluciones/wisec-solution-03.png";
import solucionWisec04 from "assets/soluciones/wisec-solution-04.png";
import solucionWisec05 from "assets/soluciones/wisec-solution-05.png";
import solucionWisec06 from "assets/soluciones/wisec-solution-06.png";

import mezcladora from "assets/clientes/clienteMezcladora.png";
import sika from "assets/clientes/clienteSika.png";
import unacem from "assets/clientes/clienteUnacem.png";
import habitat from "assets/clientes/clienteHabitat.png";

const datos = [
  {
    id: "solucion-1",
    title: "10,000+",
    description: "Consultas generadas",
    img_url: solucionWisec01,
  },
  {
    id: "solucion-2",
    title: "2 Million",
    description: "Datos almacenados",
    img_url: solucionWisec02,
  },
  {
    id: "solucion-3",
    title: "500+",
    description: "Conversaciones WhatsApp",
    img_url: solucionWisec03,
  },
  {
    id: "solucion-4",
    title: "140",
    description: "Usuarios registrados",
    img_url: solucionWisec04,
  },
];
---

<div class="lg:mx-auto py-20">
  <div
    class="mt-0 max-w-screen-xl mx-auto"
    x-data="{intersect:false}"
    x-intersect:enter="intersect=true"
    x-intersect:leave="intersect=false">
    <div
      class="flex lg:divide-y-0 gap-4 lg:gap-10 items-center flex-col lg:flex-row max-lg:px-10"
      :class="intersect ? 'animate-fade-up animate-duration-[1000ms] animate-ease-out':'opacity-0'">
      <div class="text-left w-4/5 lg:w-1/2">
        <h2
          class="text-3xl lg:text-5xl text-primary font-semibold tracking-tight mb-4">
          Nuestros logros a lo largo del camino
        </h2>
        <p class="font-xs font-light text-primary">
          Con nuestros superpoderes hemos llegado a esto.
        </p>
      </div>
      <div
        class="grid rounded-3xl dark:divide-gray-700 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-2 lg:divide-y-0 w-4/5 lg:w-1/2">
        {
          datos.map((dato) => (
            <div class="group relative">
              <div class="p-3 py-3 text-center flex items-center gap-5">
                <Picture
                  src={dato.img_url}
                  alt="Logo"
                  widths={[100]}
                  sizes="(max-width: 800px) 32px, 32px"
                  loading="eager"
                  format="svg"
                  class="inline-block min-w-[32px]"
                />
                <div class="space-y-2 text-left">
                  <h3 class="text-[25px] lg:text-3xl font-bold text-primary transition group-hover:text-primary dark:text-white dark:group-hover:text-primaryLight tracking-tight">
                    {dato.title}
                  </h3>
                  <p class="text-sm lg:text-md text-gray-600">{dato.description}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
